//INPUT PINS
//for 'and' and 'or' gates
NET a LOC = P17 | IOSTANDARD = LVCMOS33; 
NET b LOC = P14 | IOSTANDARD = LVCMOS33;
NET c LOC = P10 | IOSTANDARD = LVCMOS33;

//OUTPUT
NET y1 loc=p16 | IOSTANDARD = LVCMOS33; //and
NET y2 loc=p15 | IOSTANDARD = LVCMOS33; //or

NET y3 loc=p5 | IOSTANDARD = LVCMOS33; //not


